name: Publish to NPM
on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - run: node -v && npm -v && pnpm -v

      - run: pnpm install --frozen-lockfile
      - run: pnpm --filter nestjs-pgmq build


      - run: pnpm --filter nestjs-pgmq publish --no-git-checks --access public
