name: Publish to NPM
on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - run: npm i -g npm@latest
      - run: pnpm install
      - run: pnpm --filter nestjs-pgmq build

      - run: npm publish --provenance --access public
        working-directory: packages/nestjs-pgmq
