name: Publish to NPM
on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"


      - name: Upgrade npm
        run: npm i -g npm@11.5.1

      - run: pnpm install --frozen-lockfile
      - run: pnpm --filter nestjs-pgmq build

      - name: Publish
        run: |
          cd packages/nestjs-pgmq
          npm publish --access public
